.bodyweight__container {
  background-color: var(--primaryBackground);

  height: 100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
}

.bodyweight__data-container {
  background-color: var(--primaryBackground);

  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
}

.bodyweight__date {
  color: var(--primary);
}
#bodyweight__input {
  width: 4rem;
}
