.bodyweight__container {
  background-color: var(--primaryBackground);

  height: 100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
}

.bodyweight__data-container {
  background-color: var(--secondaryBackground);
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.bodyweight__data-container-ul {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.bodyweight__data-container_title {
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.3em;

  background-color: var(--tertiaryLowOpacity);
}

.bodyweight__date {
  color: var(--primary);
}
#bodyweight__input {
  width: 4rem;
}
