.bodyweight__container {
  background-color: #2e2e33;

  height: 100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
}

.bodyweight__data-container {
  background-color: #2e2e33;

  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
}

.bodyweight__date {
  color: whitesmoke;
}
#bodyweight__input {
  width: 4rem;
}
