.singleExercise__wrapper {
  display: grid;
  background-color: var(--primaryBackground);
  color: var(--primary);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.singleExercise__name {
  padding-top: 1rem;
}

.singleExercise__description {
  padding: 10px;
}

.singleExercise__variations li {
  list-style: none;
  padding: 5px;
}

.singleExercise__img img {
  width: 150px;
}
.singleExercise__li :hover {
  font-weight: 900;
  text-decoration: underline var(--primary);
}
