.singleExercise__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primaryBackground);
  color: var(--primary);

  height: fit-content;
}

.singleExercise__name {
  padding-top: 1rem;
}

.singleExercise__description {
  padding: 10px;
}

.singleExercise__variations li {
  list-style: none;
  padding: 5px;
}

.singleExercise__img img {
  width: 150px;
}
.singleExercise__li :hover {
  font-weight: 900;
  text-decoration: underline var(--primary);
}

.singleExercise__accordion {
  margin-left: 0;
  margin-right: 0;
}

.singleExercise__button-train {
  all: unset;
  background-color: var(--secondaryBackground);
  color: var(--secondary);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3px;

  border-radius: 5px;
  font-size: 1.5rem;

  margin: 5%;
}

.singleExercise__trainingInputForm-display-li {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.3rem;
}
