.training__exercise-form {
  background-color: var(--primaryBackground);
  color: var(--primary);
}
.training__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
}
.training__exercise-form input,
textarea {
  border-radius: 5px;
  height: 2.3em;
  font-size: 1.5rem;
}
.training__exercise-input-label {
  font-size: 1.5rem;
  padding: 0.5em 1em 0.5em 1em;
}
.training__exercise-input {
  width: 100%;
  padding: 0.5em 1em 0.5em 1em;
}

.training__exercise-select {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
}

.Link {
  all: unset;
}

.training__result-li {
  list-style: none;
  border: 1px solid var(--tertiaryLowOpacity);
  padding: 10px 5px;

  margin: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.training__result-li:nth-child(odd) {
  background-color: var(--tertiaryLowOpacity);
  border: 2px solid var(--tertiaryLowOpacity);
}
.training__result-li:hover {
  background-color: darkslategrey;
  font-size: 1.1rem;
}

.training__favourites-button {
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--secondaryBackground);
  color: var(--secondary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  cursor: pointer;
}
