.training__exercise-form {
  background-color: var(--primaryBackground);
  color: var(--primary);

  padding: 10px;
}
.training__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  row-gap: 5px;
}
.training__exercise-form input,
textarea {
  border-radius: 5px;
  height: 2.6rem;
  font-size: 1.2rem;
}
.training__exercise-input-label {
  grid-column-start: 2;
  grid-column-end: 5;
  font-size: 1.5rem;
}
.training__exercise-input {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  width: 60vw;
}

.training__exercise-select {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
}

.Link {
  all: unset;
}

.training__result-li {
  list-style: none;
  border: 1px solid var(--primary);
  padding: 5px;
  margin: 5px;
}
