.bodyweight__results-render-li {
  list-style: none;
  color: var(--primary);
}

.bodyweight__form-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.bodyweight__input {
  border-radius: 5px;
  height: 2.6rem;
  grid-column-start: 3;
}

.bodyweight__button {
  all: unset;
  background-color: var(--secondaryBackground);
  color: var(--secondary);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3px;

  border-radius: 5px;
  font-size: 2rem;
}
