.chart__bodyweight {
  background-color: var(--primaryBackground);
  padding: 0.5em;
  margin: 0.5em auto;
  border-radius: 5px;
  width: 100%;
}

.hasData {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
