header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;

  background-color: var(--primaryBackground);
  color: var(--primary);
  width: 100%;
  z-index: 1000;
  border-bottom: var(--primary) 1px solid;
}
h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  padding: 10px;
  align-self: center;
}

.Header__Logo {
  height: 80px;
  width: fit-content;
}
