.LogCard__wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--secondaryBackground);
  color: var(--secondary);
  border-radius: 5px;
  padding: 1em;
  font-size: 1.2rem;
  margin: 1em;
}

.LogCard__wrapper li {
  list-style: none;
}
