.App {
  text-align: center;
  padding: 3rem 0rem 0 0rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  /* background: linear-gradient(var(--tertiaryColor), var(--secondary)); */
  background: var(--primaryBackground);
  background-size: cover;
  height: 100vh;
}

.main {
  overflow-y: scroll;
}

button:hover {
  cursor: pointer;
}
