.App {
  text-align: center;
  padding: 4.5em 1.5em 0 1.5em;
  background: var(--primaryBackground);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button:hover {
  cursor: pointer;
}
